body {
    background-color: #efefef;
}
.settings-body{
    background-color:white;
}
.main {
    background-color: white;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.btn-publish {
    float: right;
    margin-top: 15px;
    margin-bottom: 15px;
}

.media-object {
    width: 40px;
    height: 40px;
}
.media-body{
    padding-top: 10px;
}
.text-heading {
    font-size: 16px;
}
.text-span:hover{
    color: #337ab7;
}

.text-span {
    font-size: 12px;
    color: gray;
}
.img-ad {
    text-align: center;
}
.page-position{
    float: right;
}
.section-top{
    margin-top: 15px;
}
.top-pos{
    margin-top: 30px;
}
.exception-pos{
    text-align: center;
}
.footer-position-style{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.comment{
    margin: 10px 0;
}
.btn-comment{
    float: right;
    margin-bottom: 30px;
}
.username-pos{
    margin-top: 20px;
    font-size: 10px;
    /*color: #555555;*/
    color: #F5A623;
}
.sec-username-pos{
    margin-top: 60px;
    font-size: 10px;
    color: #555555;
}
.menu{
    margin-top: 15px;
    /*margin-bottom: 10px;*/
    color: #999;
}
.menu .icon{
    margin-right: 6px;
    font-size: 16px;
    cursor: pointer;
}
.menu .icon:hover{
    color: #2a6496;
}
.menu .active{
    color: #2a6496;
}
.hr-pos{
    margin-top: 0px
}
.sec-comment{
    margin-left: 60px;
    border: 1px solid #eee;
    margin-top: 10px;
}
.sec-comment-btn{
    margin: 10px 0;
    float: right;
}

.question-edit{
    width: 200px;
}
.question-tag{
    margin-bottom: 15px;
    margin-right: 5px;
}
.question-related{
    line-height: 25px;
    font-size: 13px;
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}
.tag-pos{
    margin-top: 8px;
    margin-left: 5px;
}
.publish-tag-tab{
    display: none;
    margin-top: 10px;
    padding-top: 10px;
}

.publish-tag-tab .label-info {
    white-space: normal;
    margin: 5px 5px;
    display: inline-block;
    cursor: pointer;
}
.error-tip{
    margin-left: 5px;
}
.color-mgs{
    color: red;
}
.edit-margin{
    margin-top: 10px;
}
/*settings*/
.margin-pc{
    margin-top: 20px;
}
.group-item-name{
    margin-left: 192px;
}
.group-item-address{
    margin-left: 165px;
}
.group-item-email{
    margin-left: 187px;
}
.group-item-telephone{
    margin-left: 180px;
}
.group-item-github{
    margin-left: 128px;
}
.group-item-certification{
    margin-left: 170px;
}

.settings-footer{
}
.user-span{
    margin-right: 10px;
    font-size: 17px;
}
/*settings*/

.comment-name{
    font-size: 10px;
    color: #F5A623;
}
.minus-sign{
    color: #999;
}
.time{
    font-size: 10px;
    color: #999;
}